<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="./fragments/common :: html-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>채널 세부 정보 페이지</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script th:inline = "javascript">
    /*
      <![CDATA[*/
        let comment = /*[[${comment}]]*/ 'default';

        let detail = /*[[${detail}]]*/ 'default';
        var korean = 1-detail.foreign;
        var foreign = detail.foreign;
        var like = detail.likecnt;
        var dislike = detail.dislike;
      /*]]>
    */
</script>
<style>
    #graph{
      vertical-align : middle;
    }
    #wordCloud {
      width:500px;
      height: 500px;
    }
</style>
<body>
    <div th:replace="fragments/common :: header">여기 왜 헤더 안떠</div>

    <table border="0" width = "20%">
        <tr th:each = "a : ${detail}">
            <td>
            이름 : <span th:text = "${a.name}"></span><br>
            업로드 날짜 : <span th:text = "${a.upday}"></span><br>
            카테고리 : <span th:text = "${a.category}"></span><br>
            좋아요 수 : <span th:text = "${#numbers.formatInteger(a.likecnt,0,'COMMA')}"></span><br>
            싫어요 수 : <span th:text = "${#numbers.formatInteger(a.dislike,0,'COMMA')}"></span><br>
            좋아요 비율 : <span th:text = "${a.ratio}"></span><br>
            조회수 : <span th:text = "${#numbers.formatInteger(a.click,0,'COMMA')}"></span><br>
            댓글 수 : <span th:text = "${#numbers.formatInteger(a.comment,0,'COMMA')}"></span><br>
            해시태그 : <span th:text = "${a.hashtag}"></span><br>
            </td>
        </tr>
    </table>
    <div>
        <canvas id="foreignRatio"></canvas>
    </div>
    <div>
        <canvas id="likeRatio"></canvas>
    </div>
    <div id="wordCloud" ></div>

    <div th:replace="fragments/common :: footer">여기 왜 푸터 안떠</div>
</body>
<script src="/advideo/graph.js"></script>
<script src="/advideo/wordCloud.js"></script>
</html>