<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="./fragments/common :: html-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>채널 세부 정보 페이지</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:inline="javascript">
    /*
    <![CDATA[*/
      let imgUrl = /*[[${imgUrl}]]*/ 'default';
    /*]]>
    */
</script>
<body>
    <div th:replace="fragments/common :: header">여기 왜 헤더 안떠</div>

    <table border="0" width = "90%">
        <tr th:each = "detail : ${detail}">
            <td>
                <img src="" alt="" width = "150px" height = "150px"><br>
                <script> $('img').attr('src',imgUrl); </script>
                채널 명 : <span th:text = "${detail.ch_name}"></span><br>
                가입 날짜 : <span th:text = "${detail.regdate}"></span><br>
                누적 조회수 : <div><strong th:text = "${#numbers.formatInteger(totview,0,'COMMA')}"></strong></div>
                팬클럽 유무 : <span th:text = "${detail.fan}"></span><br>
                한달 업로드 수 : <span th:text = "${#numbers.formatInteger(detail.upload,0,'COMMA')}"></span><br>
                인스타 태그 수 : <span th:text = "${#numbers.formatInteger(detail.insta,0,'COMMA')}"></span><br>
                카테고리 : <span th:text = "${detail.category}"></span><br>
                평균 광고 조회수 : <span th:text = "${#numbers.formatInteger(detail.adavgview,0,'COMMA')}"></span><br>
                광고 수 : <span th:text = "${#numbers.formatInteger(detail.adcount,0,'COMMA')}"></span><br>
                연락처 : <span th:text = "${detail.contact}"></span>
            </td>
        </tr>
    </table>

    <div th:replace="fragments/common :: footer">여기 왜 푸터 안떠</div>
</body>
</html>