<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="./fragments/common :: html-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>채널 세부 정보 페이지</title>
</head>
<script th:inline="javascript">
    /*
    <![CDATA[*/
      let header = 'https://www.youtube.com/embed/';
      let imgUrl = /*[[${imgUrl}]]*/ 'default';
      let adList = /*[[${list}]]*/ 'default';
      let url;
      let id;
      let i = 0;
    /*]]>
    */
</script>
<body>
    <div th:replace="fragments/common :: header">여기 왜 헤더 안떠</div>

    <table border="0" width = "20%">
        <tr th:each = "detail : ${detail}">
            <td>
                <img src="" alt="" width = "150px" height = "150px"><br>
                <script> $('img').attr('src',imgUrl); </script>
                채널 명 : <span th:text = "${detail.ch_name}"></span><br>
                가입 날짜 : <span th:text = "${detail.regdate}"></span><br>
                누적 조회수 : <div><strong th:text = "${#numbers.formatInteger(totview,0,'COMMA')}"></strong></div>
                팬클럽 유무 : <span th:text = "${detail.fan}"></span><br>
                한달 업로드 수 : <span th:text = "${#numbers.formatInteger(detail.upload,0,'COMMA')}"></span><br>
                인스타 태그 수 : <span th:text = "${#numbers.formatInteger(detail.insta,0,'COMMA')}"></span><br>
                카테고리 : <span th:text = "${detail.category}"></span><br>
                평균 광고 조회수 : <span th:text = "${#numbers.formatInteger(detail.adavgview,0,'COMMA')}"></span><br>
                광고 수 : <span th:text = "${#numbers.formatInteger(detail.adcount,0,'COMMA')}"></span><br>
                연락처 : <span th:text = "${detail.contact}"></span>
            </td>
        </tr>
    </table>

    <table width = "80%">
        <tr th:if="${list.empty}" height="50px">
            <img src="https://i.ibb.co/QdXBPC3/empty.png" alt="" width="80%" height="80%">
        </tr>
        <tr th:unless="${list.empty}" height="50px">
            <th> 광고 영상 </th>
            <th width = "10px"></th>
            <th> 업로드 날짜 </th>
            <th width = "10px"></th>
            <th> 좋아요 수 </th>
        </tr>
        <tr th:each = "ad,i : ${list}">
            <td>
                <iframe th:id="${i.index}" width="480" height="270" src=""
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
                <script>
                    id = '#';
                    id = id + i;
                    url = header + adList.content[i].ad_url;
                    $(id).attr('src',url);
                    i = i+1;
                  </script>
            </td>
            <td></td>
            <td><span th:text="${ad.upday}"> 업로드 날짜 </span></td>
            <td></td>
            <td><span th:text="${#numbers.formatInteger(ad.likecnt,0,'COMMA')}"> 좋아요 수 </span></td>
        </tr>
    </table>

    <br>
    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" th:href="@{/channel/detail(channelUrl=${chUrl},page=${i-1})}" th:text="${i}">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    <br>

    <div th:replace="fragments/common :: footer">여기 왜 푸터 안떠</div>
</body>
</html>