<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="./fragments/common :: html-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Great</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
    input {
        width:50px;
        height:50px;
        font-size:40px;
        text-align: center;
    }

</style>
<body>
    <input class="input">
    <input class="input">
    <input class="input">
    <input class="input">
    <input class="input">
    <button class="wordleSubmit"> submit</button>
</body>
<script>
    var answer = 'abcde';
    $('button').click(function(){
        var inputArray = document.querySelectorAll('.input');
        console.log(inputArray);
        for(var i = 0; i < inputArray.length; i++){
            if(answer.charAt(i) == inputArray[i].value){
                inputArray[i].style.background = "green";
            }
            else if(answer.includes(inputArray[i].value)){
                inputArray[i].style.background = "yellow";
            }
            else{
                inputArray[i].style.background = "gray";
            }
            inputArray[i].classList.remove('input');
        }

        var template = '<br><div>'+
            '<input class="input">'+
            '<input class="input">'+
            '<input class="input">'+
            '<input class="input">'+
            '<input class="input">'+
            '</div>';

        $('body').append(template);
        console.log('받은 인풋 값들 : ',inputArray);

    });

</script>
</html>