<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="./fragments/common :: html-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>게시판</title>
</head>
<body>
    <div th:replace="fragments/common :: header">여기 왜 헤더 안떠</div>
    <h1> 게시판 </h1>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" onclick="alert('준비중');">Search</button>
    </form>

    <br>
    <br>
    <br>
    <div>
        <a th:href="@{/board/write}"> 작성하기 </a>
    </div>

    <div th:replace="fragments/common :: footer">여기 왜 푸터 안떠</div>
</body>
</html>