<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="./fragments/common :: html-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>게시판</title>
</head>
<body>
    <div th:replace="fragments/common :: header">여기 왜 헤더 안떠</div>
    <h1> 게시판 </h1>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" onclick="alert('준비중');">Search</button>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards}">
            <td th:text="${board.id}">Mark</td>
            <td><a th:text="${board.title}" th:href="@{/board/form(id=${board.id})}">Otto</a></td>
            <td th:text="${board.username}">홍길동</td>
        </tr>
        </tbody>
    </table>

    <br>
    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" th:href="@{/board/list(page=${i-1})}" th:text="${i}">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    <br>
    <div>
        <a th:href="@{/board/write}"> 작성하기 </a>
    </div>

    <div th:replace="fragments/common :: footer">여기 왜 푸터 안떠</div>
</body>
</html>