<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="./fragments/common :: html-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>게시글 작성</title>
</head>
<style>
    textarea{
        width:80%;
        resize : none;
    }
    #content{
        height : 8.25em;
    }
</style>
<body>

    <div th:replace="fragments/common :: header">여기 왜 헤더 안떠</div>

    <div id="write_area">
        <form th:action="@{/board/write}" method="post">
            <div id="in_title">
                <textarea id="title" name="title" placeholder="제목" maxlength="100" required></textarea>
            </div>

            <div class="wi_line"></div>
            <div id="in_content">
                <textarea id="content" name="content" placeholder="내용" required></textarea>
            </div>
            <div class="bt_se">
                <button type="submit" value="post">글 작성</button>
            </div>
        </form>
    </div>

    <div th:replace="fragments/common :: footer">여기 왜 푸터 안떠</div>
</body>
</html>