<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="./fragments/common :: html-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Great</title>
</head>
<body>
    <div th:replace="fragments/common :: header">여기 왜 헤더 안떠</div>

    <h1>
        첫 페이지
    </h1>

    <br>
    <a href ="/account/login"> 로그인 하세요 </a>
    <br>
    <a href ="/home"> 홈 </a>

    <div th:replace="fragments/common :: footer">여기 왜 푸터 안떠</div>
</body>
</html>