<!-- header -->
<div id='header'>
    <table  border = "0" cellpadding="1" cellspacing="1" width = "100%">
        <tr>
            <td align="left">
                &nbsp;&nbsp;&nbsp;
                <a href="index.html">
                    Index
                </a>
                &nbsp;&nbsp;&nbsp;
                <a href="index.html">
                    HOME
                </a>
            </td>
            <td align="right">
                <a href="/board">
                    게시판
                </a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{/search}">
                    검색
                </a>
                &nbsp;&nbsp;&nbsp;
                <a href="/myPage" align = right>
                    내 정보
                </a>

            </td>
        </tr>

    </table>
</div>
<!-- header -->