<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="./fragments/common :: html-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>게시판</title>
</head>
<style>
    #loginGO{
        background-repeat: no-repeat;
        width: 166px;
        height: 90px;
        border: 0px;
        cursor:pointer;
        outline: 0;
    }
</style>
<body>
    <div th:replace="fragments/common :: header">여기 왜 헤더 안떠</div>
    <div th:if="${param.error}" role="alert">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}" role="alert">
        You have been logged out.
    </div>
    <form th:action="@{/account/login}" method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="LogIN"/></div>
    </form>
    <br>
    <a th:href ="@{/account/register}">처음 오셨나요 ? 회원가입</a>

    <div th:replace="fragments/common :: footer">여기 왜 푸터 안떠</div>
</body>
</html>