<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<style>
    #loginGO{
        background-repeat: no-repeat;
        width: 166px;
        height: 90px;
        border: 0px;
        cursor:pointer;
        outline: 0;
    }
</style>
<body>

    <div th:if="${param.error}" role="alert">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}" role="alert">
        You have been logged out.
    </div>
    <form th:action="@{/account/register}" method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="회원 가입"/></div>
    </form>
    <br>

</body>
</html>