<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="./fragments/common :: html-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Great</title>
</head>
<body>
    <div th:replace="fragments/common :: header">여기 왜 헤더 안떠</div>
    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        This content is only shown to administrators.
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        This content is only shown to users.
    </div>
    <h1>
        welcome Great Application!
    </h1>
    <div class="birth_validate_area">
        <h3>생년 월일 검증하는 곳입니다.</h3>
        <input name="birthday" type="text" maxlength="8">
    </div>

    <div th:replace="fragments/common :: footer">여기 왜 푸터 안떠</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var inputBirth = '19690229';
    var nowDate = new Date();
    var nowYear = nowDate.getFullYear().toString();
    var nowMonth = (nowDate.getMonth() + 1).toString();
    var nowDay = (10 > nowDate.getDate()) ? '0' + nowDate.getDate().toString() : nowDate.getDate().toString();
    var nowTime = nowYear + nowMonth + nowDay;
    console.log('현재 시간 : ' , nowTime);
    console.log(inputBirth, '이 생일이 맞나요? ', isBirthDay(inputBirth));

    function isBirthDay(dateStr){
        var year = Number(dateStr.substr(0,4));
        var month = Number(dateStr.substr(4,2));
        var day = Number(dateStr.substr(6,2));

        if(1900 > year){
            console.log('생년이 말도 안됩니다.');
            return false;
        }
        else if(month < 1 || month > 12){
            console.log('월이 말도 안됩니다.');
            return false;
        }
        else if(day < 1 || day > 31){
            console.log('일이 말도 안됩니다.');
            return false;
        }
        else if((month == 4 || month == 6 || month == 9 || month == 11) && (day == 31)){
            console.log('4 , 6 , 9 , 11 월은 끝 일이 30일입니다.');
            return false;
        }
        else if(month == 2 && (day > 29 || (day == 29 && !isLeafYear(year)))){
            console.log(year,'은 윤년이 아닙니다.');
            return false;
        }
        else if(dateStr > nowTime){
            console.log('금일 보다 더 생년월일이 느릴 수 없습니다');
            return false;
        }
        return true;
    };

    function isLeafYear(year){
        return (year % 4 == 0 && ( year % 100 != 0 || year % 400 == 0 ));
    };
</script>
</html>